.App {
  text-align: center;
  background-color: #116466;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #116466;
 /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.menu.top-menu {
  border: none;
  box-shadow: none;

  background-color:#d9b08c;
}

.menu.main-menu {
  background-color:#d9b08c;
}

.logo {
  color: #d9b08c;
  text-shadow: #FFCB9A;
  padding-top: 25px;
  padding-bottom: 25px;
}

